<a href="https://colab.research.google.com/github/satyazprakash/skills-introduction-to-github/blob/main/Python_Lists_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists,  Lists are created using square brackets [ ]

##Lists are used to store multiple items in a single variable.

###Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
# Example, Create a List:

thislist = ["apple","banana","cherry"]

print(thislist)


fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']

## List items are ordered, changeable, and allow duplicate values.

### List items are indexed, the first item has index [0], the second item has index [1] etc.

##Ordered : When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

### If you add new items to a list, the new items will be placed at the end of the list.

### **Note:** There are some list methods that will change the order, but in general: the order of the items will not change.

## Changeable
###The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

## Allow Duplicates
###Since lists are indexed, lists can have items with the same value:

In [ ]:
# Example: Lists allow duplicate values:

thislist= ['apple','banana','orange','apple','chiku']
print(thislist)

['apple', 'banana', 'orange', 'apple', 'chiku']

In [ ]:
# List Length
## To determine how many items a list has, use the len() function:

thislist = ['satya','prakash','apple','orange','chiku']

print(len(thislist))

5

In [ ]:

# x = thisdict.keys()


print ("Hello World")

Hello World

In [ ]:
# List Items - Data Types
# List items can be of any data type:

list1 = ["apple","banana","cherry"]
list2 = [1,5,7,9,3]
list3 = [True, False, False]

list1 = ["abc", 34, True, 40, "male"]
list4 = ["abc",34,True,40,"male"]

print(list1)
print(list2)
print(list2)
print(list4)

print(type(list4))

['abc', 34, True, 40, 'male']
[1, 5, 7, 9, 3]
[1, 5, 7, 9, 3]
['abc', 34, True, 40, 'male']
<class 'list'>

#The list() Constructor
##It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple","banana","cherry")) ## NOte the double round Brackets,
print(thislist)

['apple', 'banana', 'cherry']

# Python - Access List Items
## Access Items
##List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple","banana","cherry"]
print(thislist[1], thislist[2], thislist[0])

banana cherry apple

# Negative Indexing
##Negative indexing means start from the end

## -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])
print(thislist[:-1])
print(thislist[-1])
print(thislist[2:5]) # Note: The search will start at index 2 (included) and end at index 5 (not included).
print(thislist[0]) # Remember that the first item has index 0.
print(thislist[:4]) # This example returns the items from the beginning to, but NOT including, "kiwi":
print(thislist[2:])  # By leaving out the end value, the range will go on to the end of the list:


# Range of Negative Indexes
# Specify negative indexes if you want to start the search from the end of the list:

print(thislist[-4:-1])
print(thislist[-4:-1]) # This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
mango
['cherry', 'orange', 'kiwi']
apple
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
['orange', 'kiwi', 'melon']

# Check if Item Exists
##To determine if a specified item is present in a list use the in keyword:

In [ ]:
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]


if "apple" in thislist:
  print("Yes, apple is in the fruits list ")
else:
  print("apple is not in the fruits list ")

Yes, apple is in the fruits list

# Python - Change List Items
### Change Item Value
### To change the value of a specific item, refer to the index number:

In [ ]:
listfruits = ["apple","banana","cherry"]

print(f"Original value of list second item : {listfruits[1]} before change")

listfruits[1] = "orange"

print(f"MOdified value of list second item post change : {listfruits[1]} after change")

Original value of list second item : banana before change
MOdified value of list second item post change : orange after change

## Change a Range of Item Values
## To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple","banana","cherry","orange","kiwi","mango"]
print(thislist)
thislist[1:3] = ["blackcurrant","watermelon"]
print(thislist)

# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

thislist[1:3] = ["papaya","jackfruit","chiku"]
print(thislist)


# Change the second value by replacing it with two new values:
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)


# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'papaya', 'jackfruit', 'chiku', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'jackfruit', 'chiku', 'orange', 'kiwi', 'mango']

## Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
# Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(2, "watermelon") # Inserting watermelon on the second place in the list

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'watermelon', 'cherry']

## Python - Add List Items
###Append Items
###To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple","banana","cherry"]
print(thislist)

thislist.append("orange") # To add an item to the end of the list, use the append() method:
print(thislist)

thislist.append("orange") # To add an item to the end of the list, use the append() method:
print(thislist)

thislist1 = ["apple", "banana", "cherry"]
thislist1.insert(1, "satya")    # The insert() method inserts an item at the specified index:
print(thislist1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'orange']
['apple', 'satya', 'banana', 'cherry']

## Extend List
###To append elements from another list to the current list, use the extend() method.

In [ ]:
# Add the elements of tropical to thislist:, The elements will be added to the end of the list.

thislist = ["apple","banana","cherry"]
tropical = ["mango","pineapple","papaya"]
print(thislist)
thislist.extend(tropical)
print(thislist)
thislist.insert(1,tropical)
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', ['mango', 'pineapple', 'papaya'], 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable
###The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
# Add elements of a tuple to a list:

thislist = ["apple","banana","cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Python - Remove List Items
### Remove Specified Item
###The remove() method removes the specified item.

In [ ]:
# Remove "banana":

thislist = ["apple","banana","cherry"]
print(thislist)
thislist.remove("banana")
print(thislist)

# If there are more than one item with the specified value, the remove() method removes the first occurrence:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']
['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index
### The pop() method removes the specified index.

In [ ]:
# Remove the second item:

thislist = ["apple","banana","cherry"]
print(thislist)
thislist.pop(1)
print(thislist)

# If you do not specify the index, the pop() method removes the last item.

thislist.pop()
print(thislist)

# The del keyword also removes the specified index:
# Remove the first item:
thislist = ["apple","banana","cherry"]
del thislist[0]
print(thislist)


# The del keyword can also delete the list completely.
thislist = ["apple","banana","cherry"]
del thislist
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']
['apple']
['banana', 'cherry']

NameError: name 'thislist' is not defined

## Clear the List
##The clear() method empties the list.

## The list still remains, but it has no content.

In [ ]:
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Python - Loop Lists
### Loop Through a List
### You can loop through the list items by using a for loop:

In [ ]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(f"The elements of the list is : {x}")

The elements of the list is : apple
The elements of the list is : banana
The elements of the list is : cherry

## Loop Through the Index Numbers
###You can also loop through the list items by referring to their index number.

###Use the range() and len() functions to create a suitable iterable.

In [ ]:
# Example Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
# Print all items, using a while loop to go through all the index numbers
'''
thislist = ["apple", "banana", "cherry"]
i = 0
while i< len(thislist):
  print(thislist[i])
  i = i + 1
'''

# Looping Using List Comprehension
# List Comprehension offers the shortest syntax for looping through lists:
# Example, A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist[0]]
[print(x) for x in thislist]

a
p
p
l
e
apple
banana
cherry

[None, None, None]

# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:
Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
# Example: Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
# Without list comprehension you will have to write a for statement with a conditional test inside

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
a_newlist = []
e_newlist = []
i_newlist = []
o_newlist = []
u_newlist = []

for x in fruits:
  if "a" in x :
    a_newlist.append(x)
  elif "e" in x:
    e_newlist.append(x)
  elif "i" in x:
    i_newlist.append(x)
  elif "o" in x:
    o_newlist.append(x)
  elif "u" in x:
    u_newlist.append(x)

print(a_newlist)
print(e_newlist)
print(i_newlist)
print(o_newlist)
print(u_newlist)

['apple', 'banana', 'mango']
['cherry']
['kiwi']
[]
[]

In [ ]:
# With list comprehension you can do all that with only one line of code:

fruits = ["apple","banana","cherry","kiwi","mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

#################################

[print(x) for x in fruits if "a" in x]

['apple', 'banana', 'mango']
apple
banana
mango

[None, None, None]

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

# Write your code here.

mins = mins + dura # find a total of all minutes
hour = hour + mins // 60 # find a number of hours hidden in minutes and update the hour
mins = mins % 60 # correct minutes to fall in the (0..59) range
hour = hour % 24 # correct hours to fall in the (0..23) range
print(hour, ":", mins, sep='')

Starting time (hours): 0
Starting time (minutes): 1
Event duration (minutes): 2939
1:0

In [ ]:
# Read three numbers
num1 = int(input("Enter the First number"))
num2 = int(input("Enter the Second number"))
num3 = int(input("Enter the third number"))

# We temporarily assume that the first number # is the largest one.
# We will verify this soon.
largest_num = num1

# We check if the second number is larger than the current largest_number
# and update the largest_number if needed.
if num2 > num1:
  largest_num = num2

# We check if the third number is larger than the current largest_number
# and update the largest_number if needed.
if num3 > largest_num:
  largest_num = num3

# Print the result
print("The largest number is :", largest_num)

Enter the First number8
Enter the Second number9
Enter the third number10
The largest number is : 10

In [ ]:
# finding the leap year
year = int(input("Enter a year: "))

if year < 1582:
	print("Not within the Gregorian calendar period")
else:
	if year % 4 != 0:
		print("Common year")
	elif year % 100 != 0:
		print("Leap year")
	elif year % 400 != 0:
		print("Common year")
	else:
		print("Leap year")